name: Selenium Tests

on: [push]  # Trigger the workflow when code is pushed to the repository

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Java
        uses: actions/setup-java@v2
        with:
          java-version: 17
          distribution: 'adopt'
          java-package: jdk
          architecture: x64
          check-latest: false
          server-id: github
          server-username: ${{ github.actor }}
          server-password: ${{ secrets.GITHUB_TOKEN }}
          overwrite-settings: true
          job-status: success

      - name: Install Allure Command Line
        run: |
          sudo apt-add-repository ppa:qameta/allure
          sudo apt-get update
          sudo apt-get install allure

      - name: Build with Maven
        run: mvn clean install -DskipTests  # Build your project, excluding test execution

      - name: Run Selenium Tests
        run:  mvn test -Dtest= -DsuiteXmlFile=testng.xml
        env:
          BROWSER: chrome  # You can specify the browser as an environment variable

      - name : Generate Allure Report
        run : allure generate ./allure-results --clean

      - name: Upload Test Results
        uses: actions/upload-artifact@v2
        if: always()
        with:
          name: Allure Results
          path: |
            allure-results/
            allure-report
